{% set books_active = 1 %}
{% extends 'layout.html.twig' %}

{% block contents %}
<h2>Fiche du livre {{ aBook.titre }} :</h2>
<div class="row">
	<div class="col-xs-12 col-sm-4">
		{% if aBook.image %}
		<img src="{{ app.request.basepath }}/uploads/{{ aBook.image }}.jpg" />
		{% endif %}
	</div>
	<div class="col-xs-12 col-sm-8">
		<h3>{{ aBook.titre }}</h3>
		<h4><em>Par {{ aBook.auteur }}</em></h4><br/> 
		<em>{{ aBook.synopsis }}</em><br/> 
	</div>
</div>


{% endblock %}
